<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<body>
    <!--路徑從imgs開始public的路徑從index.js統一設定-->
    <img src="/imgs/404.webp" alt="" width="100%">
</body>
</html>